@model FestivalAdministration.Models.Band

@{
    ViewBag.Title = "Band Information - "+@Model.Name;
}

<h2>@Model.Name</h2>

<fieldset>
    <legend>Band</legend>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Picture)
    </div>*@
    <div class="display-field">
        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Picture)" alt="@Model.Name" width="250" height="250" style="float:right;padding:10px;background-color:#FFF;margin:10px;"/>
    </div>

    @if(Model.TimeSlots.Count == 0)
    {
    <div class="display-label">
        Date:
    </div>
    <div class="display-field">
        <div>To Be Anounced</div>
    </div>
    } else if(Model.TimeSlots.Count == 1)
    {
    <div class="display-label">
        Date:
    </div>
    <div class="display-field">
        <div>@Model.TimeSlots[0].DateToString()</div>
        <div>@Model.TimeSlots[0].TimeToString()</div>
    </div>
    } else {
    <div class="display-label">
        Dates:
    </div>
    
    <div class="display-field">
        <ul>
        @foreach (var item in Model.TimeSlots)
        {
            <li>
                @*<div>Date: </div>*@
                <div>@item.DateToString()</div>
                @*<div>Time: </div>*@
                <div>@item.TimeToString()</div>
            </li>
        }
        </ul>
    </div>
    }
    <br />

    @if(Model.Genres.Count == 1)
    {
    <div class="display-label">
        Genre:
    </div>
    <div class="display-field">
        @Model.Genres[0].Name
    </div>
    } else {
    <div class="display-label">
        Genres:
    </div>
    <div class="display-field">
        <ul>
        @foreach (FestivalAdministration.Models.Genre genre in Model.Genres)
        {
            <li>@genre.Name</li>
        }
        </ul>
    </div>
    }
    <br />

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <br />

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Twitter)
    </div>
    <div class="display-field">
        <a href="@Model.Twitter">@Model.Twitter</a>
        @*@Html.DisplayFor(model => model.Twitter)*@
    </div>
    <br />

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Facebook)
    </div>
    <div class="display-field">
        <a href="@Model.Facebook">@Model.Facebook</a>
        @*@Html.DisplayFor(model => model.Facebook)*@
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
