@model FestivalAdministration.Models.Band

@{
    ViewBag.Title = "Band Information - "+@Model.Name;
}

<h1>@Model.Name</h1>

<figure class="bigpicture">
    <img src="data:image;base64,@System.Convert.ToBase64String(Model.Picture)" alt="@Model.Name" />
</figure>

@if(Model.TimeSlots == null)
{
<h2>Date:</h2>
        
<p>To Be Anounced</p>
} else if(Model.TimeSlots.Count == 0)
{
<h2>Date:</h2>
        
<p>To Be Anounced</p>
} else if(Model.TimeSlots.Count == 1)
{
<h2>Date:</h2>
        
<p>@Model.TimeSlots[0].DateToString()</p>
<p>@Model.TimeSlots[0].TimeToString()</p>
} else {
<h2>Dates:</h2>    
<ul>
    @foreach (var item in Model.TimeSlots)
    {
    <li>
        @*<div>Date: </div>*@
        <div>@item.DateToString()</div>
        @*<div>Time: </div>*@
        <div>@item.TimeToString()</div>
    </li>
    }
</ul>
}

@if(Model.Genres.Count == 1)
{
<h2>Genre:</h2>
    
<p>@Model.Genres[0].Name</p>
} else {
<h2>Genres:</h2>
        
<ul>
@foreach (FestivalAdministration.Models.Genre genre in Model.Genres)
{
    <li>@genre.Name</li>
}
</ul>
}

<h2>Description:</h2>

<p class="linebreak">@Html.DisplayFor(model => model.Description)</p>

<h2>Twitter:</h2>

<p><a href="@Model.Twitter">@Model.Twitter</a></p>

<h2>Facebook:</h2>

<p><a href="@Model.Facebook">@Model.Facebook</a></p>

<p />
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
