@model IEnumerable<FestivalAdministration.Models.Band>

@{
    ViewBag.Title = "Index";
}

<h2>Bands</h2>

<table>
    <tr>
        <th></th>
        @if (ViewBag.BandAsc == null)
        {
            <th>@Html.ActionLink("Band", "Index", new{Band = "asc"})</th>
        } else if (ViewBag.BandAsc)
        {
            <th>@Html.ActionLink("Band", "Index", new{Band = "desc"})</th>
        } else
        {
            <th>@Html.ActionLink("Band", "Index", new{Band = "asc"})</th>
        }
        
        @if (ViewBag.StageAsc == null)
        {
            <th>@Html.ActionLink("Stage", "Index", new{Stage = "asc"})</th>
        } else if (ViewBag.StageAsc)
        {
            <th>@Html.ActionLink("Stage", "Index", new{Stage = "desc"})</th>
        } else
        {
            <th>@Html.ActionLink("Stage", "Index", new{Stage = "asc"})</th>
        }

        @if (ViewBag.TimeSlotAsc == null)
        {
            <th>@Html.ActionLink("TimeSlot", "Index", new{TimeSlot = "asc"})</th>
        } else if (ViewBag.TimeSlotAsc)
        {
            <th>@Html.ActionLink("TimeSlot", "Index", new{TimeSlot = "desc"})</th>
        } else
        {
            <th>@Html.ActionLink("TimeSlot", "Index", new{TimeSlot = "asc"})</th>
        }
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr><td>
            <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" alt="@item.Name" width="100" height="100" style="float:right;padding:10px;background-color:#FFF;margin:10px;"/>
        </td>
        <td>@item.Name</td>
        @if (item.TimeSlots == null)
        {
        <td>To Be Anounced</td>
        <td>To Be Anounced</td>
        } else if (item.TimeSlots.Count == 0)
        {
        <td>To Be Anounced</td>
        <td>To Be Anounced</td>
        } else if (item.TimeSlots.Count == 1)
        {
        <td>@item.TimeSlots[0].Stage.Name</td>
        <td>@item.TimeSlots[0].DateToString() @item.TimeSlots[0].TimeToString()</td>
        } else {
        <td>
            <ul>
            @foreach (var ts in item.TimeSlots)
            {
                <li>@ts.Stage.Name</li>
            }
            </ul>
        </td>
        <td>
            <ul>
            @foreach (var ts in item.TimeSlots)
            {
                <li>@ts.DateToString() @ts.TimeToString()</li>
            }
            </ul>
        </td>
        }
        <th>@Html.ActionLink("More Info", "Detail", new{bandID = item.ID})</th>
    </tr>
}

</table>
