@model FestivalAdministration.Models.Ticket

@{
    ViewBag.Title = "Confirm";
}

<h1>Confirm</h1>

<h2>Name:</h2>
<p>@ViewBag.Name</p>

<h2>Email:</h2>
<p>@ViewBag.Email</p>

<h2>Ticket Type:</h2>
<p>@ViewBag.Type.Name</p>
    
<h2>Amount:</h2>
<p>@ViewBag.Amount</p>

<h2>Total Price:</h2>
<p>@(ViewBag.Type.Price * ViewBag.Amount) euro</p>

<table>
    <tr>
    @using (Html.BeginForm("Order", "Ticket", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("TicketType", (object)ViewBag.Type.ID)
    @Html.Hidden("Amount", (object)ViewBag.Amount)
        <input type="submit" value="Back" />
    }
    </tr>
    <tr>
    @using (Html.BeginForm("Save", "Ticket", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("TicketType", (object)ViewBag.Type.ID)
    @Html.Hidden("Amount", (object)ViewBag.Amount)
        <input type="submit" value="Save" />
    }
    </tr>
</table>
