@model IEnumerable<FestivalAdministration.Models.Ticket>

@{
    ViewBag.Title = "Ordered Tickets";
}

<h1>Ordered Tickets</h1>

<section class="data">
<table>
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.TicketHolder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketHolderEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>*@
        <th>
            Type
        </th>
        <th>
            Amount
        </th>
        <th>
            Price
        </th>
        @*<th></th>*@
    </tr>

    @{ double totalPrice = 0;}
@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.TicketHolder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketHolderEmail)
        </td>*@
        <td>
            @*@Html.DisplayFor(modelItem => item.TicketType.Name)*@
            @item.TicketType.Name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @{ 
               double price = item.TicketType.Price*item.Amount;
               totalPrice += price;
            }
            @price euro
        </td>
        @*<td>
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
<br />
@if (Model.Count() > 1)
{
<h2>
    Total Price: 
</h2>
<p>
    @totalPrice euro
</p>
    
<p>
    @Html.ActionLink("Order New", "Order")
</p>
}
</section>