@{
    ViewBag.Title = "Order";
}

<h1>Order new ticket</h1>

<section class="form">
@using (Html.BeginForm("Confirm", "Ticket", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <ul>
        <li>
            @Html.Label("TicketType", "Ticket Type:")
            @Html.DropDownList("TicketType", null, "--- Choose a Type ---")
            @Html.ValidationMessage("TicketType", "Please select a Ticket Type")
        </li>
        <li>
            @Html.Label("Amount", "Quantity:")
            @Html.Editor("Amount")
            @Html.ValidationMessage("Amount", "Please insert a number greater than 0")

            @if (ViewBag.Left != null)
            {
            <div class="error">
                Oops, there are only @ViewBag.Left tickets left.
            </div>
            }
        </li>
    </ul>
    <p>
        <input type="submit" value="Add Order" />
    </p>
}
</section>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
