@*@model FestivalAdministration.Models.Ticket*@

@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>

@using (Html.BeginForm("Order", "Ticket", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create new order</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.TicketHolder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TicketHolder)
            @Html.ValidationMessageFor(model => model.TicketHolder)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TicketHolderEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TicketHolderEmail)
            @Html.ValidationMessageFor(model => model.TicketHolderEmail)
        </div>*@

        <div class="editor-label">
            @*@Html.LabelFor(model => model.TicketType)*@
            Ticket Type
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.TicketType)
            @Html.ValidationMessageFor(model => model.TicketType)*@
            @Html.DropDownList("TicketType", null, "--- Choose a Type ---")
            @Html.ValidationMessage("TicketType", "Please select a Ticket Type")
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Amount)*@
            Quantity
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)*@
            @Html.Editor("Amount")
            @Html.ValidationMessage("Amount", "Please insert a number greater than 0")
        </div>

        <p>
            <input type="submit" value="Add Order" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
