@{
    ViewBag.Title = "Admin - Ordered Tickets";
}

<h2>Ticket Types</h2>

<table>
    <tr>
        <th>Type</th>
        <th>Price</th>
        <th>Available</th>
        <th>Left</th>
        <th>Sold</th>
        <th>Money</th>
    </tr>
@foreach (var item in ViewBag.Types)
{
    int sold = @item.AvailableTickets - @item.TicketsLeft;
    <tr>
        <td>@item.Name</td>
        <td>@item.Price euro</td>
        <td>@item.AvailableTickets</td>
        <td>@item.TicketsLeft</td>
        <td>@sold</td>
        <td>@(sold*item.Price) euro</td>
    </tr>
}
</table>

<h2>Customers</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Money</th>
    </tr>
@foreach (var item in ViewBag.Tickets)
{
    <tr>
        <td>@item.TicketHolder</td>
        <td>@item.TicketHolderEmail</td>
        <td>@item.TicketType.Name</td>
        <td>@item.Amount</td>
        <td>@(item.TicketType.Price*item.Amount) euro</td>
    </tr>
}
</table>