@model IEnumerable<FestivalAdministration.Models.Ticket>

@{
    ViewBag.Title = "Index-Admin";
}

<h2>Index-Admin</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketHolder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketHolderEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketHolder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketHolderEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
