@{
    ViewBag.Title = "Admin - Ordered Tickets";
}

<h1>Ticket Types</h1>

<section class="data">
@if (ViewBag.Types != null)
{
if (ViewBag.Types.Count > 0)
{
<table>
    <tr>
        <th>Type</th>
        <th>Price</th>
        <th>Available</th>
        <th>Left</th>
        <th>Sold</th>
        <th class="hideable">Money</th>
    </tr>
@foreach (var item in ViewBag.Types)
{
    int sold = @item.AvailableTickets - @item.TicketsLeft;
    <tr>
        <td>@item.Name</td>
        <td>@item.Price euro</td>
        <td>@item.AvailableTickets</td>
        <td>@item.TicketsLeft</td>
        <td>@sold</td>
        <td class="hideable">@(sold*item.Price) euro</td>
    </tr>
}
</table>
} else {
    <p>No TicketTypes found.</p>
} 
} else {
    <p>No TicketTypes found.</p>
}

@if (ViewBag.Tickets != null)
{
if (ViewBag.Tickets.Count > 0)
{
<h1>Customers</h1>

<table>
    <tr>
        <th>Name</th>
        <th class="hideable">Email</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Money</th>
    </tr>
@foreach (var item in ViewBag.Tickets)
{
    <tr>
        <td>@item.TicketHolder</td>
        <td class="hideable">@item.TicketHolderEmail</td>
        <td>@item.TicketType.Name</td>
        <td>@item.Amount</td>
        <td>@(item.TicketType.Price*item.Amount) euro</td>
    </tr>
}
</table>
} else {
    <p>No Customers found.</p>
}
} else {
    <p>No Customers found.</p>
}
</section>