<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content">
                <figure>
                    <img src="~/Images/logo.png"/>
                </figure>
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Band")</li>
                        <li>@Html.ActionLink("Location", "Location", "Home")</li>
                        <li>@Html.ActionLink("Tickets", "Index", "Ticket")</li>
                    </ul>
                </nav>
            </div>
        </header>
        <div>
            @RenderSection("featured", required: false)
            <section>
                @RenderBody()
            </section>
        </div>
        <footer>
            <p>Final Server Side Application - Kevin Aelterman - 2NMCT2</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
