<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        @* script to check if javascript is enabled, to choose wich map is displayed *@
        <script>
            var css = "#static-map {display:none;} #dynamic-map {display:block;}";
            var head = document.getElementsByTagName("head")[0];
            var style = document.createElement("style");

            style.type = 'text/css';
            if (style.styleSheet) {
                style.styleSheet.cssText = css;
            } else {
                style.appendChild(document.createTextNode(css));
            }

            head.appendChild(style);
        </script>
    </head>
    <body>
        <header>
            <div class="content">
                <figure>
                    <a href="@Url.Action("Index","Band")"><img src="~/Images/logo.png"/></a>
                </figure>
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Band")</li>
                        <li>@Html.ActionLink("Location", "Location", "Home")</li>
                        <li>@Html.ActionLink("Tickets", "Index", "Ticket")</li>
                        <li>@Html.ActionLink("RSS", "RSS", "Home")</li>
                    </ul>
                </nav>
            </div>
        </header>
        <div>
            @*@RenderSection("featured", required: false)*@
            <aside>
                @Html.Action("News", "Home")
            </aside>
            <section>
                @RenderBody()
            </section>
        </div>
        <footer>
            <p>Final Server Side Application - Kevin Aelterman - 2NMCT2</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
