@model FestivalAdministration.Models.ChangePropertyModel

<h2>Change your properties:</h2>

@using (Html.BeginForm("Manage", "Account"))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()

	<ul>
		<li>
			@Html.LabelFor(m => m.PropertyModel.LastName, "Last Name:")
			@Html.TextBoxFor(m => m.PropertyModel.LastName)
		</li>
		<li>
			@Html.LabelFor(m => m.PropertyModel.FirstName, "First Name:")
			@Html.TextBoxFor(m => m.PropertyModel.FirstName)
		</li>
        <li>
			@Html.LabelFor(m => m.PropertyModel.Email, "Email:")
			@Html.TextBoxFor(m => m.PropertyModel.Email)
		</li>
	</ul>
	<input type="submit" value="Change Properties" />
}
